<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>BIENVENIDO A BLACKI</h1>

<h2>Su carta 1 es: <%= session['carta1J1'] %></h2>
<h3>Su carta 2 es: 2T</h3>
<h4> la carta 1 del oponente es: 9P</h4>
<h5> la carta 2 del oponente es: 5C</h5>
</body>
</html>